.github/
.changeset/
.turbo/
scripts/
tests/
packages/
metadata/
docs/
node_modules/
scripts/
*.md
!README.md
!CHANGELOG.md
.gitignore
tsconfig*.json
turbo.json
pnpm-*.yaml
eslint.config.*
vitest.config.*
